/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
    font-family: "Neutra-text";
    src: url("assets/Neutra-text-font/NeutraText-Book.otf") format("opentype");
}

body {
    font-family: "Neutra-text", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header {
    height: 68px;
    width: 100%;
    background-color: #231f20;
    color: #ffffff;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: none;
}

.hamburger {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #231f20;
}

ul {
    display: flex;
    gap: 1rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.small-screen-logo {
    display: none;
}

/* hero section css */

.hero-section {
    position: relative;
}

.hero-section img {
    position: relative;
    z-index: 1;

    width: 100%;
    height: auto;
    display: block;
}

.text-div {
    position: absolute;
    top: 40%;
    width: 20rem;

    left: 12%;

    z-index: 100;
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
    z-index: 2;
}

h1 {
    font-size: 34px;
    font-weight: 700;
}

.text-div button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: white;
    font-weight: 200;
    margin-top: 12px;
    padding: 12px;
    background-color: #be123c;
    border-radius: 6px;
    border: none;
}

/* search section */

.search-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 23px;
}

form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    position: absolute;
    padding: 10px;
    width: 30rem;
    border-radius: 8px;
    border: 2px solid #b91c1c;
}

.search-btn {
    position: absolute;
    z-index: 100;
    margin-left: 27rem;
}

@media screen and (max-width: 800px) {
    .small-screen-logo {
        display: block;
    }

    .text-div img {
        width: 100%;
    }

    nav {
        display: none;
    }

    .hamburger {
        display: block;
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: black solid 1px;
        background: white;
        cursor: pointer;
        margin-top: 52px;
    }

    .closeIcon {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 6rem;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        color: white;
        list-style: none;
        padding-top: 4rem;
    }

    .showMenu {
        transform: translateY(0);
    }

    .hamburger img {
        width: 30px;
        height: 30px;
        margin-top: 2px;
    }
}

@media screen and (max-width: 768px) {
    .text-div {
        font-size: 1.5em;

        top: 40%;
    }
}

@media screen and (max-width: 480px) {
    .text-div {
        font-size: 1.2em;

        top: 30%;
    }
}

.search-div-btn {
    background-color: #be123c;
    padding: 12px;
    border: none;
    border-radius: 12px;
    color: white;
    width: fit-content;
}

.grid-item {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
    font-family: "Roboto", sans-serif;
}

.grid-item img {
    border-radius: 12px;
}

.image-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.alt {
    color: black;
}

.photographer {
    color: #b91c1c;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
}

.slider-img {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

#similar-header {
    display: none;
}

#similar-header.active {
    display: block;
    margin-top: 50px;
    text-align: center;
}



.fav-btn {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: inherit;
    border: none;
    margin-top: 100px;
}

.fav-btn image:hover {
    cursor: pointer;
}

.wishlist-img {
    width: 500px;
    height: 500px;
    /* padding: 50px; */
}

.favourite-section {
    margin-top: 30px;
}

.wish-div {

    text-align: center;
}